extends baseEmail

block content
  p Hi #{user_name},
  strong A password reset request has been made for your account.
  p #{message}
  h4 Your OTP is - #{otp}
  a(href=link) 
    strong Click here to verify! 
  p If you didn't forget your password, please ignore this email!
  p - Anonry  
